.node {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 0;
  min-width: 0;
  z-index: 1;
  box-sizing: border-box;
}

.rotatable-node {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00c3ffba;
  width: 100%;
  height: 100%;
  padding: 16px;
  transform-origin: center center;
}

.node_text {
  color: #000;
  font-size: 18px;
  font-weight: 900;
  min-width: 2px;
  line-height: 1.4;
  outline: none;
}

.node-controls {
  position: absolute;
  width: 100%;
  height: 100%;
}

.node[data-is-group-selected="true"] > .rotatable-node {
  box-shadow: #000 0px 0px 0px 3px;
}
