.node {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffa200c1;
  border-radius: 7px;
  min-width: 50px;
  min-height: 50px;
  padding: 16px;
  z-index: 1;
}

.node_text {
  color: #000;
  font-size: 18px;
  font-weight: 900;
  min-width: 2px;
  line-height: 1.4;
  outline: none;
}

.node[data-is-selected="true"] {
  box-shadow: #006eff 0px 0px 0px 5px;
}
