.node {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0008ff95;
  /* border-radius: 7px; */
  min-width: 50px;
  min-height: 50px;
  padding: 16px;
  z-index: 1;
}

.node_text {
  color: #bfc1d6;
  font-size: 18px;
  line-height: 1.4;
  outline: none;
}

/* .node[data-is-selected="true"] {
  box-shadow: #ffd501 0px 0px 0px 3px;
} */
