*,
::after,
::before {
  font-family: monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #add8e6;
}

p {
  font-size: 18px;
}

.page {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.whiteboard-wrapper {
  position: relative;
  background-color: #3aafde;
  width: 75vw;
  height: 75vh;
  margin: auto;
  overflow: hidden;
}

.whiteboard {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: #0087ff;
  /* background-color: transparent; */
}

svg {
  position: absolute;
  overflow: visible;
}

svg,
g {
  pointer-events: none;
  z-index: 1;
}

path {
  pointer-events: auto;
  z-index: 10;
}

circle {
  pointer-events: auto;
  z-index: 10;
}
