*,
::after,
::before {
  font-family: monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #61caff;
}

p {
  font-size: 18px;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.toolbar {
  display: flex;
  gap: 5px;
  padding: 18px;
  background-color: #61caff;
}

.toolbar > button {
  font-weight: 700;
  background-color: #dde8ff;
  padding: 12px;
  border: 1px solid #000;
  border-radius: 7px;
  box-shadow: #000 5px 5px 0px -1px;
}

.whiteboard-wrapper {
  position: relative;
  background-color: #8cd8ff;
  width: 98vw;
  height: 88vh;
  margin: auto;
  overflow: hidden;
  border-radius: 7px;
}

.whiteboard {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  /* background-color: #0087ff; */
  background-color: transparent;
}

svg {
  position: absolute;
  overflow: visible;
}

svg,
g {
  pointer-events: none;
  z-index: 1;
}

path {
  pointer-events: auto;
  z-index: 10;
}

circle {
  pointer-events: auto;
  z-index: 10;
}

svg {
  shape-rendering: crispEdges;
  pointer-events: none;
  z-index: -1;
}

line,
path,
rect {
  shape-rendering: crispEdges;
  pointer-events: none;
  z-index: -1;
}
